.info {
  background: #fff;
  position: absolute;
  z-index: 2;
  top: 100px;
  left: 30px;
  width: 500px;
  padding: 30px;
}
.info__title {
  font-size: 26px;
  margin-bottom: 20px;
}
.info__text {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}